body {
  padding: 50px 40px;
  cursor: initial;
  color: black;
}

.day {
  background: linear-gradient(
    to bottom right,
    rgb(71, 169, 226),
    rgb(184, 207, 255)
  );
  color: black;
}

.night {
  background: linear-gradient(
    to bottom right,
    rgb(80, 42, 250),
    rgb(144, 45, 201)
  );
  color: plum;
}

video {
  margin-left: 30px;
  margin-right: auto;
  z-index: -1;
  position: relative;
  right: 20px;
  width: 100%;
  border-radius: 20px 20px;
  opacity: 0.85;
}

section.overlay {
  position: absolute;
  left: 40px;
  right: 40px;
  margin-left: 30px;
  margin-right: auto;
  border-radius: 20px 20px;
  padding: 10px;
  margin-bottom: 20px;
}

input {
  display: inline;
  background-image: url(img/search-solid.svg);
  background-position: 25px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 60px 0 20px 10px;
  border: 1px solid #27ade2;
  color: #27ade2;
  font-weight: bolder;
  background-color: rgba(238, 234, 234, 0.438);
  border-radius: 10px;
  padding: 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

input:hover {
  width: 50%;
  background-color: rgba(127, 155, 156, 0.582);
  border: 2px solid rgb(45, 37, 88);
}
input:focus {
  outline: none;
  width: 50%;
  color: white;
  border: 2.5px solid rgb(45, 37, 88);
}

#location-button {
  position: absolute;
  top: 70px;
  right: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(255, 248, 248);
  border: 1px solid #27ade2;
  box-shadow: 2px 1px 1px #bfbfbf;
  margin: 8px auto;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 200ms ease;
  outline: none;
}

#location-button:hover {
  border: 2px solid rgb(45, 37, 88);
  background-color: rgba(127, 155, 156, 0.582);
  cursor: pointer;
  outline: none;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 34px;
  line-height: 48px;
  margin: 60px 0 20px 10px;
  background: rgba(124, 124, 124, 0.678);
  border: rgba(117, 112, 112, 0.918);
  border-radius: 75px 75px;
  padding: 10px;
}

i {
  color: red;
}

span.update {
  display: block;
  text-align: right;
}

hr {
  margin-top: 0%;
  border: 1px solid;
  border-radius: 5px;
}

div.col-4 {
  text-align: center;
}

div.grades {
  position: relative;
  font-size: 20px;
  top: 30%;
  font-weight: 600;
}

.grades .units {
  position: relative;
  font-size: 20px;
  top: -20px;
}

.grades .active {
  color: rgb(33, 33, 33);
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.grades .active .pinkLink {
  color: rgb(33, 33, 33);
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.grades.active:hover {
  text-decoration: none;
}

div .sunClouds {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 0;
}

strong.todayTemperature {
  font-size: 40px;
  font-family: arial, helvetica, sans-serif;
}

div.todayInfo {
  position: relative;
  top: 30%;
  font-size: 20px;
  font-weight: 600;
}
div.weatherDescription:first-letter {
  text-transform: capitalize;
}

strong.today {
  font-size: 25px;
  text-decoration: underline;
}

h2 {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: 0 auto;
}

section.nextDays {
  margin-left: 30px;
  background: rgba(255, 255, 255, 0.199);
  border-radius: 20px 20px;
  padding: 10px 10px;
  margin-bottom: 20px;
  position: relative;
}

#forecast {
  margin-left: 80px;
}

#columnsForecast {
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 10px;
  padding: 20px 20px 20px 0;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  width: 125px;
  color: black;
  background-color: rgba(116, 139, 214, 0.801);
  border: 1px solid black;
  border-radius: 25px 25px;
  transition: all 200ms ease-in-out;
  cursor: initial;
}

h3 {
  display: block;
  font-family: monospace;
  font-size: 16px;
  font-weight: normal;
  color: gray;
  text-align: right;
}

/* For tablet */
@media only screen and (max-width: 900px) {
  body {
    padding: 40px 15px;
    font-size: 14px;
  }

  section.overlay {
    left: 30px;
    right: 40px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  video {
    right: 0px;
    margin-left: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
  }
  input {
    background-position: 25px 9px;
    background-size: 15px;
    margin: 50px 0 10px 10px;
    padding: 5px;
  }

  #location-button {
    position: absolute;
    top: 55px;
    right: 20px;
    margin: 0;
    font-size: 14px;
    padding: 5px 10px;
  }

  h1 {
    margin: 2px 0 2px 5px;
    padding: 5px;
  }

  div.grades {
    font-size: 19px;
    top: 0px;
  }

  strong.todayTemperature {
    font-size: 30px;
  }

  .grades .units {
    top: -10px;
  }

  row {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
  }

  div.col-4 {
    padding-right: 5px;
  }

  div.todayInfo {
    position: relative;
    top: 0%;
    font-size: 20px;
    font-weight: 600;
  }

  section.nextDays {
    margin-left: 10px;
    padding: 10px 10px;
  }

  #columnsForecast {
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 10px;
    padding: 15px 15px 15px 0;
  }

  .card-body {
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    padding: 10px;
  }

  .forecastP {
    margin: 0%;
  }

  .card-title {
    margin: 0%;
    font-size: 12px;
    font-weight: bolder;
  }
}

/* For phone */
@media only screen and (max-width: 700px) {
  body {
    padding: 40px 15px;
    font-size: 14px;
  }

  section.overlay {
    left: 20px;
    right: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  video {
    margin-left: 10px;
  }

  input {
    background-position: 10px 7px;
    margin: 40px 0 10px 10px;
    padding: 5px;
    font-size: small;
    line-height: normal;
  }

  #location-button {
    top: 45px;
    right: 4px;
    margin: 1px;
    font-size: 12px;
    padding: 5px;
  }

  h1 {
    margin: 2px 0 2px 20px;
    padding: 5px;
    font-size: 26px;
    line-height: 30px;
  }

  div.grades {
    font-size: 12px;
    top: 5px;
    padding-left: 10px;
  }

  .grades .units {
    top: -5px;
    font-size: 10px;
  }

  strong.todayTemperature {
    font-size: 14px;
  }

  row {
    margin-right: -5px;
    margin-left: 20px;
  }

  div.todayInfo {
    position: relative;
    top: 0%;
    font-size: 12px;
    font-weight: 600;
  }

  h2 {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
    margin: 0 auto;
  }

  h3 {
    font-size: 14px;
  }

  section.nextDays {
    margin-left: 10px;
    padding: 10px 10px;
  }

  #columnsForecast {
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 10px;
    padding: 0;
  }

  .card-body {
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    padding: 10px;
  }

  .forecastP {
    margin: 0%;
  }

  .card-title {
    margin: 0%;
    font-size: 12px;
    font-weight: bolder;
  }
  #forecast {
    margin-left: 0px;
  }
}
